<div class="text-center mb-8">
    <h2 class="text-5xl font-extrabold text-white uppercase">FIND A MATCH</h2>
</div>

<div class="flex justify-center mb-10 mt-6 space-x-4 match-navigation-container">
    
    <button id="btn-available-users" 
            class="btn">
        TOP PICKS FOR YOU
    </button>
    
    <button id="btn-incoming-requests" 
            class="btn">
        SENT REQUESTS
    </button>
    
</div>

<div id="match-content" class="flex flex-wrap -mx-3 justify-center">
    <div class="w-full text-center py-8">
        <p class="text-gray-500">Load users...</p>
    </div>
</div>

<div id="message-container" class="mt-6 w-full max-w-lg mx-auto">
    </div>