{% extends 'base.html' %}
{% load static %}

{% block title %}PlayServe - Find Your Rival{% endblock %}

{% block content %}
    
    {% include 'navbar.html' %}

    {% if user.is_superuser or profile.role == 'ADMIN' %}
        <main>
            <section class="upper-main-admin">
                <h1>COURTSIDE</h1>
                <h1 style="color: var(--lime-green);">CONTROL</h1>
                <p>Central hub to manage the PlayServe platform and its community.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
            </section>

            <section class="admin-content-wrapper" style="padding: 0px 50px;">
                <div class="content-box-admin">

                    <div class="col-span-2 text-center mb-8">
                        <h2 class="text-5xl font-extrabold text-white uppercase">Control Panel</h2>
                    </div>

                    <div class="grid grid-cols-2 gap-x-8 gap-y-10 w-full text-center">
                        
                        <div class="management-item flex flex-col items-center p-3">
                            <a href="/booking/admin" class="flex flex-col items-center w-full hover:scale-105 transition duration-200">
                                <img src="{% static 'image/locator.svg' %}" alt="Manage Courts" class="w-28 h-28 mb-8">
                                <h3 class="text-2xl font-semibold text-white">Manage Courts</h3>
                            </a>
                        </div>
                        
                        <div class="management-item flex flex-col items-center p-3">
                            <a href="{% url 'profil:manage_users' %}" class="flex flex-col items-center w-full hover:scale-105 transition duration-200">
                                <img src="{% static 'image/people.svg' %}" alt="Manage Users" class="w-28 h-28 mb-8">
                                <h3 class="text-2xl font-semibold text-white">Manage Users</h3>
                            </a>
                        </div>
                        
                        <div class="management-item flex flex-col items-center p-3">
                            <a href="{% url 'discover_communities' %}" class="flex flex-col items-center w-full hover:scale-105 transition duration-200">
                                <img src="{% static 'image/chat.svg' %}" alt="Moderate Communities" class="w-28 h-28 mb-8">
                                <h3 class="text-2xl font-semibold text-white">Moderate Communities</h3>
                            </a>
                        </div>
                        
                        <div class="management-item flex flex-col items-center p-3">
                            <a href="{% url 'review:review_list' %}" class="flex flex-col items-center w-full hover:scale-105 transition duration-200">
                                <img src="{% static 'image/review.svg' %}" alt="Manage Reviews" class="w-28 h-28 mb-8">
                                <h3 class="text-2xl font-semibold text-white">Manage Reviews</h3>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="content-box-admin">
                    
                    <div class="grid grid-cols-2 gap-4 w-full"> 
                        
                        <div class="col-span-2 text-center mb-8">
                            <h2 class="text-5xl font-extrabold text-white uppercase">QUICK STATS</h2>
                        </div>

                        <div class="stats-box p-12 rounded-lg text-center" style="background-color: #264782;">
                            <p class="text-white text-2xl">TOTAL USERS</p>
                            <br>
                            <p class="text-white text-4xl font-bold">{{ total_users }}</p>
                        </div>
                        
                        <div class="stats-box p-12 rounded-lg text-center" style="background-color: #264782;">
                            <p class="text-white text-2xl">COMMUNITIES</p>
                            <br>
                            <p class="text-white text-4xl font-bold">{{ total_community }}</p>
                        </div>
                        
                        <div class="stats-box p-12 rounded-lg text-center" style="background-color: #264782;">
                            <p class="text-white text-2xl">ACTIVE COURTS</p>
                            <br>
                            <p class="text-white text-4xl font-bold">12</p>
                        </div>
                        
                        <div class="stats-box p-12 rounded-lg text-center" style="background-color: #264782;">
                            <p class="text-white text-2xl">TOTAL REVIEWS</p>
                            <br>
                            <p class="text-white text-4xl font-bold">{{ total_reviews }}</p>
                        </div>

                    </div>
                </div>
            </section>

            <section style="padding: 85px 50px;"></section>
        </main>

    {% else %}
        <main>
            <section class="upper-main">
                <h1>FIND YOUR RIVAL.<br>ACE THE COURT.</h1>
                <p>The first gamified platform for tennis players in Indonesia. Climb the ranks, find your perfect match, and easily book the best courts.</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'matchmaking:dashboard' %}" class="btn">Find Your Match Now</a>
                {% else %}
                    <a href="{% url 'profil:login' %}" class="btn">Find Your Match Now</a>
                {% endif %}
            </section>

            <section>
                <div class="content-box" style="margin-top: 0;">
                    <div class="info-text">
                        <h2>YOUR NEXT MATCH AWAITS</h2>
                        <p>Finding a game has never been this easy or this fast. Simply find a player, book the court, and get playing.</p>
                    </div>
                    
                    <div class="info-visuals">
                        <img src="{% static 'image/maplocator.svg' %}" alt="Map illustration" style="margin-bottom: 15px;">
                        {% if user.is_authenticated %}
                            <a href="{% url 'booking:field_list' %}" class="btn" style="margin-bottom: 15px;">Book The Court</a>
                        {% else %}
                            <a href="{% url 'profil:login' %}" class="btn" style="margin-bottom: 15px;">Book The Court</a>
                        {% endif %}
                    </div>
                </div>
            </section>

            <section>
                <div class="cta-box">
                    {% if user.is_authenticated %}
                        <section class="connect-section">
                            <h2>MORE WAYS TO CONNECT</h2>
                            <p>Connect with the right players, join conversations exclusive to your favorite courts, and discover local groups to keep the rally going, on and off the court.</p>
                            <div class="features-grid">
                                <div class="feature-item">
                                    <img src="{% static 'image/locator.svg' %}" alt="Location Pin">
                                    <h3>Court-Based Groups</h3>
                                </div>
                                <div class="feature-item">
                                    <img src="{% static 'image/chat.svg' %}" alt="Chat Bubble">
                                    <h3>Members-Only Group Chat</h3>
                                </div>
                                <div class="feature-item">
                                    <img src="{% static 'image/verified.svg' %}" alt="Check Mark">
                                    <h3>Admin-Curated</h3>
                                </div>
                            </div>
                            <a href="{% url 'discover_communities' %}" class="btn">Explore Communities</a>
                        </section>

                    {% else %}
                        <section class="sign-up">
                            <h2>READY TO SERVE?</h2>
                            <p>Join thousands of players and find your next match by signing up for free</p>
                            <a href="{% url 'profil:register1' %}" class="btn">SIGN UP FOR FREE</a>
                        </section>
                    {% endif %}
                </div>
            </section>
        </main>
    {% endif %}
    
{% endblock content %}
